# Chave secreta do Flask para sessões
SECRET_KEY=insira_uma_chave_aleatoria_aqui

# Hash da senha do admin (gere usando o gerar_hash.py)
ADMIN_PASSWORD_HASH=insira_o_hash_aqui

# URL do Banco de Dados (Gerada pelo Render ou local)
DATABASE_URL=postgresql://usuario:senha@localhost:5432/nome_do_banco